Import các thứ

In [3]:
import pandas as pd

In [4]:
main_data = pd.read_csv("diem_thi_thpt_2024.csv")
main_data.head(10)

,sbd,toan,ngu_van,ngoai_ngu,vat_li,hoa_hoc,sinh_hoc,lich_su,dia_li,gdcd,ma_ngoai_ngu
0,1000001,8.4,6.75,8.0,6.00,5.25,5.0,NaN,NaN,NaN,N1
1,1000002,8.6,8.50,7.2,NaN,NaN,NaN,7.25,6.00,8.00,N1
2,1000003,8.2,8.75,8.2,NaN,NaN,NaN,7.25,7.25,8.75,N1
3,1000004,4.8,8.50,7.4,NaN,NaN,NaN,7.00,6.00,7.50,N1
4,1000005,8.6,9.00,7.8,NaN,NaN,NaN,9.00,8.75,8.50,N1
5,1000006,5.8,8.75,7.8,NaN,NaN,NaN,7.75,6.75,7.50,N1
6,1000007,6.0,7.50,NaN,NaN,NaN,NaN,6.75,7.00,7.00,NaN
7,1000008,8.2,9.00,9.0,NaN,NaN,NaN,8.00,8.25,10.00,N1
8,1000009,8.2,8.00,8.6,8.25,4.25,6.0,NaN,NaN,NaN,N1
9,1000010,7.4,9.00,9.6,NaN,NaN,NaN,8.25,6.50,8.25,N1